/* Layout */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 64px;
    margin-left: 320px;
    min-height: 100vh;
}

section {
    width: 720px;
    padding: 16px 0 16px 48px;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    padding: 16px 0px 16px 72px;
    background: white;
    transition: transform 300ms;
}

footer {
    width: 100%;
    padding: 32px 24px;
    margin-top: 80px;
}








/* Typography */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 14px;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    margin-bottom: 8px;
}

h1 {
    font-size: 34px;
    margin-top: 0px;
    padding-top: 64px;
}

h2 {
    font-size: 24px;
    margin-top: 0px;
    padding-top: 72px;
}

h3 {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 24px;
}

h4 {
    font-size: 16px;
    margin-top: 0px;
    padding-top: 24px;
    font-weight: 500;
}

h2+p,
h3+p {
    padding-top: 0;
}

h1+h2 {
    padding-top: 40px;
}

h2+h3 {
    padding-top: 16px;
}


p,
ul,
ol,
table,
pre,
dl {
    margin-bottom: 24px;
    line-height: 18px;
}

strong {
    font-weight: 700;
}





/* Colors */

:root {
    --cta-color: #536DFE;
    --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

body {
    color: #333;
    background-color: white;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
}

footer a {
    color: white;
}

aside:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    background: linear-gradient(#536DFE, #a553fe);
}








/* Lists */

ul,
ol {
    padding-left: 24px;
}

ul>li,
ol>li {
    padding-bottom: 8px;
}

li>ul {
    padding-top: 8px;
}

li {
    line-height: 18px;
}







/* Tables */

table {
    border-collapse: collapse;
}

th {
    white-space: nowrap;
    text-align: left;
}

th,
td {
    padding: 8px;
}

th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td:first-child {
    width: 120px;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:first-child {
    width: 272px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 104px;
    text-align: center;
}

td:nth-child(3):not(:last-child),
th:nth-child(3):not(:last-child) {
    min-width: 112px;
    text-align: center;
}



/* four items */

th:first-child:nth-last-child(4) {
    width: 172px;
}




/* Links */

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: var(--cta-color);
}

a:hover {
    border-bottom: 1px solid var(--cta-color);
    font-weight: 400;
    color: var(--cta-color);
}







/* Code */

code {
    font-size: 13px;
    background: #efefef;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 2px;
    color: #222;
}








/* Table of Contents */

nav {
    padding-top: 24px;
    padding-bottom: 64px;
}

nav li {
    list-style: none;
}

nav ul {
    margin-bottom: 0;
}

nav>ul {
    padding-left: 0;
}

li>ul>li:last-child {
    padding-bottom: 0;
}

nav li {
    line-height: 24px;
}

nav li a {
    color: black;
    opacity: 0.6;
    transition: opacity 300ms;
    will-change: opacity;
}

nav li a:hover {
    border-bottom: none;
    color: black;
    opacity: 1;
    display: inline;
}

nav li a:after {
    content: '';
    position: absolute;
    left: 16px;
    right: 0;
    height: 32px;
    margin-top: -4px;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
}

nav li a:hover:after {
    opacity: 1;
}

nav ul ul ul{
    display: none;
}

nav ul.active-toc ul ul{
    display: block;
}

nav ul.active-toc ul ul ul{
    display: none;
} 

nav ul.active-toc > li > a{
    font-weight: 700;
}

nav ul.active-toc > li > a:before{
    content: '>';
    position: absolute;
    margin-left: -24px;
    margin-top: -1px;
}

/* Logo */

a.logo {
    margin-top: 3px;
    display: block;
    border-bottom: none;
}

.logo h1 {
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-weight: 800;
    color: rgb(90, 90, 90);
}

.logo h1+p {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0px;
    margin-bottom: 0;
}





/* Improve me button */

.improve-me {
    position: fixed;
    bottom: 64px;
    right: 64px;
    color: #333;
    background: var(--cta-color);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    color: #efefef;
}

.improve-me:hover {
    color: #efefef;
    border-bottom: none;
}

.improve-me:before {
    content: 'Improve this page';
    position: fixed;
    bottom: 136px;
    right: 16px;
    width: 128px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms;
}

.improve-me:hover:before {
    opacity: 1;
}





/* Responsiveness */

@media (min-width: 1240px) {
    main {
        margin-left: 0;
    }

    aside {
        width: 400px;
        padding: 16px 0px 16px 128px;
    }
}

@media (max-width: 1480px) {
    main {
        margin-left: 320px;
    }
}

a#nav-button{
    display: none;
}

@media (max-width: 1048px) {
    main {
        margin-left: 0;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    section {
        width: auto;
        padding: 80px 32px;
    }

    aside {
        transform: translate(-100%);
        box-shadow: var(--box-shadow);
        width: 360px;
        z-index: 1;
    }

    aside:target {
        transform: translate(0);
    }

    a#nav-button{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 24px 32px;
        border-bottom: none;
        display: flex;
        align-items: center;
        color: #555;
        background-color: white;
    }

    #nav-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 300ms;
        pointer-events: none;
    }

    aside:target + #nav-backdrop {
        pointer-events: all;
        opacity: 1;
    }
}