---
---

//@import "{{ site.theme }}";

:root {
    --cta-color: #0070c9;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: white;
    font-size: 14px;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    margin-bottom: 8px;
    color: #333;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 24px;
    margin-top: 56px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: var(--cta-color);
}

a:hover {
    border-bottom: 1px solid var(--cta-color);
    font-weight: 400;
    color: var(--cta-color);
}

p,
ul,
ol,
table,
pre,
dl {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

ul>li,
ol>li {
    padding-bottom: 8px;
}

strong {
    color: #333;
    font-weight: 700;
}

section {
    width: 520px;
}

header {
    width: 280px;
    -webkit-font-smoothing: antialiased;
}

header h1+p {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}


header h1:before {
    content: '';
    background-image: url('data:image/svg+xml,<svg width="499" height="440" xmlns="http://www.w3.org/2000/svg"><path d="M389.33 20.73C382.65 9.28 366.48 0 353.24 0h-208c-13.26 0-29.4 9.28-36.09 20.73L5.33 198.87c-6.68 11.45-6.68 30.02 0 41.47l103.82 178.14c6.68 11.45 22.85 20.74 36.09 20.74h208c13.26 0 29.4-9.28 36.09-20.74l103.82-178.14c6.68-11.45 6.68-30.01 0-41.47L389.33 20.73zM272.6 347.45v41.1h-38.74v-39.53c-23.53-2.82-51.45-13.02-70.28-30.12l25.57-39.06c20.4 15.06 37.96 22.9 57.1 22.9 22.43 0 32.31-9.1 32.31-27.29 0-40.63-105.4-39.84-105.4-111.06 0-38.74 23.2-65.57 60.7-73.1V50.51h38.74v40c25.57 3.6 43.92 16.16 59.45 32.47l-29.49 33.26c-14.43-13.02-26.66-19.77-43.45-19.77-19.13 0-29.49 7.53-29.49 25.26 0 37.49 105.41 34.35 105.41 109.96-.15 37.8-21.33 67.13-62.43 75.76z" fill="%23FFC107" fill-rule="evenodd"/></svg>');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:32px;
    height:24px;
    display:inline-block;
    margin-right:8px
}

th{
    white-space: nowrap;
}

th,td{
    padding: 8px 16px;
}

code{
    font-size: 13px;
    background: #efefef;
    padding: 2px 4px;
    border-radius: 2px;
}
