<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="stylesheet" href="https://localhost/library/nimiq-style/nimiq-light/nimiq-light.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <aside>
      <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </aside>
    <main>
      <header></header>
      <section>

      {{ content }}

      </section>
      <footer>
        <a href="https://nimiq.com">Nimiq.com</a>
      </footer>
    </main>
  </body>
</html>
