<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/nimiq-light.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <link rel="stylesheet" href="https://localhost/library/nimiq-style/nimiq-light/nimiq-light.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <aside>
      <header>
        <a href="{{ site.github.url }}" class="logo">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>

          <nav>
            <ul>
              <li>
                <a href="{{ site.github.url }}"> home </a>
              </li>
              {% for node in site.pages %}
              <li>
              {% include toc.html html=node.content %}
              </li>
            {% endfor %}
            </ul>
          </nav>
      </a>
      </header>
    </aside>
    <main>
      <section>

      {{ content }}

      </section>
    </main>
  </body>
</html>
